<h2>List of movies</h2>

<ul>
  <li *ngFor="let movie of movies">
    <h3 (click)="movieClicked(movie)" >{{ movie.title }}</h3>
  </li>
</ul>

<hr>
Title: <input type="text" [(ngModel)]="selectedMovie.title"> <br>
Description: <input type="text" [(ngModel)]="selectedMovie.description"> <br>
Year: <input type="text" [(ngModel)]="selectedMovie.year"> <br>

<button *ngIf="selectedMovie.id != -1" (click)="updateMovie()" >Update</button>
<button *ngIf="selectedMovie.id == -1"  (click)="createMovie()" >Create</button>
<button *ngIf="selectedMovie.id != -1"  (click)="deleteMovie()" >Delete</button>